/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
    list-style:none;
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

:root {
  --font-family: "Roboto", sans-serif;
  --primary:#1e3799;
  --secondary:#4a69bd;
  --accent:#eb2f06;
  --lightgray:#ddd;
  --text-regular:#333;
}

body {
  font-family: var(--font-family);
  color: var(--text-regular) ;
}
